[Unit]
Description=Redis Advanced Key-Value Store
After=network.target
Documentation=http://redis.io/documentation

[Service]
Type=forking
ExecStart=/usr/local/bin/redis-server /etc/redis/{{ server.port }}.conf
TimeoutStopSec=0
Restart=always
User=redis
Group=redis
UMask=007
PrivateTmp=yes
LimitNOFILE=16384
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=true
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/log/redis
ReadWriteDirectories=-/etc/redis
ReadWriteDirectories=-/var/lib/redis/{{ server.port }}
CapabilityBoundingSet=~CAP_SYS_PTRACE

[Install]
WantedBy=multi-user.target
